<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All cinemas</title>
</head>
<body>
<table>
    <caption>Cinemas</caption>
    <tr>
    <th>Id</th><th>Cost</th><th>Weight</th><th>Brand</th><th>Type</th><th>color</th>
    </tr>
        <div th:each="cinema : ${cinemas}">
            <tr>
                <td th:text="${cinema.getId()}">Id</td>
                <td th:text="${cinema.getCost()}">Cost</td>
                <td th:text="${cinema.getWeight()}">Weight</td>
                <td th:text="${cinema.getBrand()}">Brand</td>
                <td th:text="${cinema.getType()}">Type</td>
                <td th:text="${cinema.getColor()}">color</td>
            <tr>
</table>
</div>
</body>
</html>