<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<h1>База данных кинотеартров</h1>
<ul>
    <li>
        <a th:href="@{/cinemas}"> Посмотреть кинотеатр в базе</a>
    </li>

    <li>
        <a th:href="@{/cinemas/new}"> Добавить кинотеатр в базу</a>
    </li>

    <li>
        <a th:href="@{/cinemas/delete}"> Удалить кинотеатр из базы</a>
    </li>

    <li>
        <a th:href="@{/cinemas/edit}"> Обновить кинотеарт в базе</a>
    </li>

    <li>
        <a th:href="@{/cinemas/find}"> Найти кинотеатр по id</a>
    </li>
</ul>
</body>
</html>