<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Кинотеарт</title>
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="stylesheet" href="../../styles/styledb.css">
</head>
<body>
<table th:class="database_table">
  <tr>
    <td><h4>Id</h4></td>
    <td><h4 th:text="${cinema.getId()}">Id</h4></td>
  </tr>

  <tr>
    <td>Модель</td>
    <td><h4 th:text="${cinema.getModel()}">Model</h4></td>
  </tr>

  <tr>
    <td>Материал</td>
    <td><h4 th:text="${cinema.getMaterial()}">Material</h4></td>
  </tr>

  <tr>
    <td>Тип кинотеатра</td>
    <td><h4 th:text="${cinema.getTypeOfCinema()}">getTypeOfCinema</h4></td>
  </tr>

  <tr>
    <td>Цена</td>
    <td><h4 th:text="${cinema.getPrice()}">Price</h4></td>
  </tr>

  <tr>
    <td>Объем</td>
    <td><h4 th:text="${cinema.getVolume()}">Volume</h4></td>
  </tr>

  <tr>
    <td><a th:href="@{/}">Вернуться в главное меню</a></td>
  </tr>
</table>
</body>
</html>