<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AddCinema</title>
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="stylesheet" href="../../styles/styledb.css">
</head>
<body>
<h1>Добавить новуый кинотеатр</h1>
<h3>Введите данные о кинотеатре</h3>

<form th:object="${cinema}" th:action="@{/Administrator}" th:method="POST">
  <table th:class="database_table">
    <tr>
      <td>
        <label for="model">Модель</label>
      </td>
      <td>
        <input type="text" id="model" th:field="${cinema.model}" />
        <div th:errors="*{model}" class="error" style="color: red">Error</div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="material">Материал, из которого изготовлен кинотеатр</label>
      </td>
      <td>
        <input type="text" id="material" th:field="${cinema.material}"/>
        <div th:errors="*{material}" class="error" style="color: red">Error</div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="typeOfCinema">Тип кинотеатра</label>
      </td>
      <td>
        <input type="text" id="typeOfCinema" th:field="${cinema.typeOfCinema}"/>
        <div th:errors="*{typeOfCinema}" class="error" style="color: red">Error</div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="price">Цена</label>
      </td>
      <td>
        <input type="number" id="price" th:field="${cinema.price}"/>
        <div th:errors="*{price}" class="error" style="color: red">Error</div>
      </td>
    </tr>
    <tr>
      <td>
        <label for="volume">Объем</label>
      </td>
      <td>
        <input type="number" id="volume" th:field="${cinema.volume}"/>
        <div th:errors="*{volume}" class="error" style="color: red">Error</div>
      </td>
    </tr>

    <tr>
      <td><input type="submit" value="Добавить"></td>
    </tr>
  </table>
</form>
</body>
</html>